# Mohammad Katlish

# Task 3: Exploratory Data Analysis - Retial

- Finding the weak areas to improve the profit of the company
- find other Business Problems in the data

#### Imoprting Libraries;

In [35]:
import pandas as pd

#### Import the data and show the fisrt five rows;

In [36]:
data = pd.read_csv('./Retail_data.csv')
data.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

`Summary statistics of the dataset`

In [37]:
data.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

`Show information about the dataset`

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

`Show datatypes in each column`

In [39]:
data.dtypes

Ship Mode        object
Segment          object
Country          object
City             object
State            object
Postal Code       int64
Region           object
Category         object
Sub-Category     object
Sales           float64
Quantity          int64
Discount        float64
Profit          float64
dtype: object

In [40]:
data.columns

Index(['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

`Chicking for the NULL values`

In [41]:
data.isnull().sum()

Ship Mode       0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

`Chicking the negative and positive profits in the dataset`

In [51]:
#negative profit
neg_profit = data['Profit'] < 0
neg_data_df = data[neg_profit]

#postive profit
pos_profit = data['Profit'] > 0
pos_data_df = data[pos_profit]

no_proft = data['Profit'] == 0
no_data_df = data[no_proft]


print('The number of the transactions: ' + str(data['Profit'].count()))
print('The number of the negative proft in the transaction: ' + str(neg_data_df['Profit'].count()))
print('The number of the positive proft in the transaction: ' + str(pos_data_df['Profit'].count()))
print('The number of the zero proft in the transaction: ' + str(no_data_df['Profit'].count()))

The number of the transactions: 9994
The number of the negative proft in the transaction: 1871
The number of the positive proft in the transaction: 8058
The number of the zero proft in the transaction: 65

`Chicking for dublicated data` -- boolean

In [60]:
data.duplicated().sum()

17

In [66]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()

0

`checking the number of uniqie data`

In [63]:
data.nunique()

Ship Mode          4
Segment            3
Country            1
City             531
State             49
Postal Code      631
Region             4
Category           3
Sub-Category      17
Sales           5825
Quantity          14
Discount          12
Profit          7287
dtype: int64

-----